<h1><%= @post.title %></h1>

<ul>
  <li><%= @post.description %></li>
  <li><%= @post.posted_on %></li>
</ul>

<p><a href="/companies/<%= @contact.company.id %>">Back to <%= @contact.company.name %></a></p>